.app {
  margin-top: 4rem;
  max-width: 70vw;
  margin-inline: auto;
  display: grid;
  gap: 1rem;
}

.main {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  min-height: 25rem;
}

